Run millegrilles_documents

run --package millegrilles_documents --bin millegrilles_documents

CAFILE=/var/opt/millegrilles/configuration/pki.millegrille.cert
CERTFILE=/var/opt/millegrilles/secrets/pki.documents_backend.cert
KEYFILE=/var/opt/millegrilles/secrets/pki.documents_backend.key
MG_MONGO_HOST=localhost
MG_MQ_HOST=localhost
MG_NOEUD_ID=DUMMY-DEV1
MG_REDIS_PASSWORD_FILE=/var/opt/millegrilles/secrets/passwd.redis.txt
MG_REDIS_URL=rediss://client_rust@localhost:6379#insecure
RUST_LOG=warn,millegrilles_documents=debug,millegrilles_common_rust=debug
INSTANCE_ID=DUMMY
